<div class="ui grid p-2">
  <div class="three wide row">
    <button class="large ui button green left aligned">
      <i class="arrow up icon"></i>Upload
      <input type="file" multiple (change)="selectFiles($event)" class="large ui button green left aligned" />
    </button>
  </div>
  <div class="row dropzone" app-drop-zone (outbound-listener)="listenDropZoneDirective($event)">
    <input type="file" multiple (change)="selectFiles($event)" class="large ui button green left aligned" />
  </div>
</div>
